// $mobileBreakpoint:

* {
    box-sizing: border-box;
    outline: none;
}

body,
html{
    height: 100%;
    width: 100%;
}

body {
    max-width: 1500px;
    font-size: 1.1em;
    font-family: "Roboto", Arial;
    margin: 0 auto;
    overflow-x: hidden;
    background: $site-background;
    // color: transparentize($primary-color, .2);
    color: $zype-color;
    border-top: 5px solid $zype-color;
}

main {
    max-width: $max-content-width;

    @include mediaQuery($breakpoint-900) {
        max-width: none;
    };
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-container {
    max-width: $max-content-width;
    width: 90%;
    margin: 75px auto 0;
    text-align: center;
    padding: 30px 30px 80px;

    @include mediaQuery($breakpoint-900) {
        padding: 0 0 90px;
        margin: 80px 0 0;
        width: 100%;
        max-width: none;
    };
}
