.header {
    margin-bottom: 15%;
    background: white;
    box-shadow: $standard-box-shadow-outset;
    @include mediaQuery($breakpoint-850) {
        background: transparent;
        box-shadow: none;
    };
}

.header__title-container {
    @include flex-row(wrap, space-around, center);
}

.header__title {
    font-size: 2.5em;
    float: right;
    font-weight: 800;

    @include mediaQuery($breakpoint-850) {
        font-size: 2.2em;
        float: none;
        width: 100%;
    };

    @include mediaQuery($breakpoint-650) {
        font-size: 2em;
    };

    @include mediaQuery($breakpoint-500) {
        font-size: 1.7em;
    };
}

.header__logo {
    float: left;
    width: 15%;
    max-width: 150px;

    @include mediaQuery($breakpoint-850) {
        float: none;
        width: 20%;
        min-width: 100px;
    };
}
