// colors
$primary-color: #010138;
$secondary-color: #f94c0c;
$secondary-color-muted: #d4643b;
$hover-highlight: white;
$site-background: radial-gradient(circle, white, rgba(181, 181, 181, 0.3));

$zype-color: #2696c6;
$zype-gradient: linear-gradient(to bottom, #2696c6 0%,#29b2c4 100%);


// breakpoints
$breakpoint-900: 900px;
$breakpoint-850: 850px;
$breakpoint-750: 750px;
$breakpoint-650: 650px;
$breakpoint-600: 600px;
$breakpoint-500: 500px;
$breakpoint-400: 400px;


//other
$standard-border-radius: 4px;
$standard-transition: all .2s;
$standard-box-shadow: 0 0 10px 0px rgba(128, 128, 128, 0.5) inset;
$max-content-width: 850px;

